[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "douban"

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
django = "*"
whitenoise = "*"
django-configurations = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
