{% extends "base.html" %}
{% block title %} 首页 {% endblock %}

{% block css %}
{% load static %}
<link href="{% static "css/blog.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 text-muted" href="/">首页</a>
    <a class="p-2 text-muted" href="/resume/">个人简历</a>
    <a class="p-2 text-muted" href="/travelog/">旅行日志</a>
  </nav>
</div>

<main role="main" class="container">
  <div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
      <h1>空</h1>
    </div>
  </div>
</main>
{% endblock %}